<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
</head>
<body id="main-body">
    <!-- main body for all pages -->
    <div id="pseudo-body">
        <!-- Nav bar -->
        <%- include('nav'); -%>
        <div class="space"> </div>

        <div class="task_sec_nav">
            <ul>
                <li><button class="task_cat1">Category 1</button></li>
                <li><button class="task_cat2">Category 2</button></li>
            </ul>
        </div>

        <!-- <div class="space"> </div> -->

        

        <div id="tasks_box">
            <div id="cont_1" class="">
                <div class="add_button_div" >
                    <button id="task1_add_button" class="add_button" >+Add Task</button>
                </div>

                
                <div class="task_card_container">
                    <% i=1 %>
                    <% task.forEach(t => { %>
                        <%if (t.show){ %>
                            <% let assigned_date = new Date(t.posted_date);  %>
                            <% let due_date= new Date(t.due_by); %>
                            <% let date_difference = due_date - assigned_date; %>
                            <% let difference_in_days = date_difference / (1000 * 60 * 60 *  24); %>

                            <div class="task_card" date_diff=" <%= difference_in_days %> ">
                                <h5>Task <%=i%></h5>
                                
                                <Details>
                                    <summary>Click to see task details</summary>
                                    <div class="task_card_spacing">
                                        <div><%=t.task_desc%></div>
                                    </div>

                                </Details>
                                <div class="task_card_spacing"> <strong>Assigned to:</strong> <%=t.To%> </div>
                                <div class="task_card_spacing"> <strong>Assigned by: </strong><%=t.From%></div>

                                
                                <p><strong>Due by: </strong><%= due_date.toLocaleDateString("en-US")%></p>

                                

                                <%link_counter = 1 %>
                                <%t.links.forEach( l =>{%>
                                    <a href=<%=l%> target="_blank" class="btn btn-primary">Link <%=link_counter%></a>
                                    <%link_counter += 1 %>
                                
                                <%});%>
                                    <br>
                                    <br>

                                <button type="button" class="task_finished_button" data_id= "<%= t.id %>" >Done</button>
                            </div>

                            <br>
                        <% i++ %>
                        <%}%>
                    <% }); %>
                    <!-- <p>Content 1</p> -->
                </div>
            </div>


            <div class="center_item">
                <div class="hidden_task" id="task_form_1"> 
                    <form action="/task1" method="POST" class="" id="task1_form">
                        <label for="to_name">Assigned To (Name): </label>
                        <input type="text" name="to_name" class="task1_to_name"> <br>

                        <label for="email">Assigned To (Email): </label>
                        <input type="email" name="email" id="" class="task1_to_email"><br>

                        <label for="by_name">Assigned By (Name): </label>
                        <input type="text" name="by_name" id="" class="task1_by_name"><br>

                        <label for="by_email">Assigned By (Email): </label>
                        <input type="email" name="by_email" id="" class="task1_by_email"><br>

                        <label for="task_desc">Task Details: </label>
                        <input type="text" name="task_desc" id="" class="task1_desc"><br>

                        <label for="post_date">Date Assigned: </label>
                        <input type="date" name="post_date" id="" class="task1_post_date"><br>

                        <label for="due_by">Task Due Date: </label>
                        <input type="date" name="due_by" id="" class="task1_due"><br>

                        
                        <div id="links_container">
                            <label for="info_links[]">Related Links: </label>
                            <input type="links" name="info_links[]" placeholder="https://example.com" class="task1_links"> 
                            <button type="button" id="add_another_link" >Add another link</button><br>
                        </div>

                        <button type="submit" id="sub_task1">Submit</button>
                        <!-- <button type="submit" id="cancel_adding_task1">cancel</button> -->
                    </form>
                </div>
            </div>


            <div id="cont_2" class="hidden_task">
                <div class="add_button_div">
                    <button id="task2_add_button" class="add_button">+Add</button>
                </div>
                <p>Content 2</p>
            </div>


            <div class="hidden_task" id="task_form_2"> 
                <form action="" class="" >
                    <label for="to_name2">To:</label>
                    <input type="text" name="to_name2" id=""> <br>

                    <label for="email2">To email:</label>
                    <input type="text" name="email2" id=""><br>

                    <label for="by_name2">By:</label>
                    <input type="text" name="by_name2" id=""><br>

                    <label for="by_email2">By email:</label>
                    <input type="text" name="by_email2" id=""><br>

                    <label for="post_date2">Posted Date:</label>
                    <input type="text" name="post_date2" id=""><br>

                    <label for="task_desc2">Task Description:</label>
                    <input type="text" name="task_desc2" id=""><br>

                    <label for="info_links2">Links</label>
                    <input type="text" name="info_links2" id=""><br>

                    <label for="due_by2">Due Date:</label>
                    <input type="text" name="due_by2" id=""><br>

                    <button type="submit">submit</button>
                    <button type="submit">cancel</button>
                </form>
            </div>



        </div>

        <div class="space"> </div>
    </div> 

    <script src="/assets/task_script.js"></script>
</body>
</html>
